/* ===============[ START Global Style ]================ */
/* fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ------------------ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #fafafa;
}

:root {
    --body-bg-Color: #121212;
    --main-bg-Color: #1e1e1f;
    --alt-bg-Color: #383838;
    --mainColor: #fdc562;
    --btn: #fca323;
    --transition: .3s;
}

::-webkit-scrollbar {
    /* for vertical scrollbar */
    width: 10px;
    /* for horizontal scrollbar */
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--main-bg-Color);
    border-radius: 20px;

}

::-webkit-scrollbar-thumb {
    background: var(--alt-bg-Color);
    border-radius: 20px;
    border: 1px solid #888;

}

::selection {
    background-color: var(--mainColor);
    color: var(--body-bg-Color);
}

body {
    background-color: var(--body-bg-Color);
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


.main-titel {
    margin-bottom: 20px;
    width: fit-content;
    padding: 20px 0;
    position: relative;

}

.main-titel::after {
    position: absolute;
    content: '';
    width: 0;
    height: 5px;
    border-radius: 10px;
    background-color: var(--mainColor);
    bottom: 0;
    left: 0;
    animation: fill .2s linear forwards;
    transition: var(--transition);
}

@keyframes fill {
    to {
        width: 40%;
    }

}

.main-titel h1 {
    letter-spacing: 1px;

}

/* scrool bar */


.container {
    margin-inline: auto;
    padding-inline: 15px;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1024px) {
    .container {
        width: 75%;
    }
}

/*====================[ END  Global Style ]========================= */
.allpage {
    min-height: 100vh;
}

.allpage>.container {
    /* min-height: 100vh; */
    display: flex;
    /* align-items: stretch; */
    gap: 25px;
    margin-block: 50px;
}

@media (max-width:992px) {
    .allpage>.container {
        flex-direction: column;
    }
}

/* profile side */
.allpage .profile-side {
    background-color: var(--main-bg-Color);
    border: .5px solid var(--alt-bg-Color);
    width: 300px;
    height: fit-content;
    border-radius: 20px;
    padding: 20px;
    padding-top: 40px;
    position: relative;
}

@media (max-width:992px) {
    .allpage .profile-side {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        border: none;
    }

}

.allpage .profile-side .info {
    text-align: center;
    padding-block: 30px;
    border-bottom: 1px solid var(--alt-bg-Color);

}

.allpage .profile-side .info .img-holder {
    width: 100px;
    height: 100px;
    background-color: var(--alt-bg-Color);
    margin-inline: auto;
    margin-bottom: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
}

.allpage .profile-side .info .img-holder .image {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    overflow: hidden;
    position: absolute;
    top: 15px;
    left: 15px;


}

.allpage .profile-side .info .img-holder .image img {
    width: 100%;
    height: 100%;
}

.allpage .profile-side .info h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.allpage .profile-side .info p {
    font-size: 13px;
    font-weight: 300;
    background-color: var(--alt-bg-Color);
    width: fit-content;
    padding: 4px 20px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    margin-inline: auto;
}

.allpage .profile-side .contact {
    margin-block: 40px;
}

@media (max-width:992px) {

    .allpage .profile-side .contact {
        margin-block: 0;
        align-self: flex-start;
    }
}

@media (max-width:469px) {
    .allpage .profile-side .info {
        border-bottom: none;

    }

    .allpage .profile-side .info .img-holder,
    .allpage .profile-side .info .img-holder .image {
        width: 50px;
        height: 50px;
    }

    .allpage .profile-side .info .img-holder .image {
        top: 10px;
        left: 10px;


    }

    .allpage .profile-side .info h1 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 5px;
        letter-spacing: 1px;
    }

    .allpage .profile-side .info p {
        font-size: 10px;
    }

}


.allpage .profile-side .contact ul li {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.allpage .profile-side .contact ul li i {
    color: var(--mainColor);
    font-size: 20px;
    background-color: var(--alt-bg-Color);
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    flex-shrink: 0;
    margin-right: 24px;
}

.allpage .profile-side .contact ul li .contact-info h3 {
    font-size: 14px;
    font-weight: 500;
    color: #CCC;


}

.allpage .profile-side .contact ul li .contact-info a,
.allpage .profile-side .contact ul li .contact-info p {
    font-size: 14px;
    font-weight: 300;



}

@media (max-width:469px) {

    .allpage .profile-side .contact ul li {
        margin-top: 10px;
    }

    .allpage .profile-side .contact ul li i {
        font-size: 17px;
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .allpage .profile-side .contact ul li .contact-info h3 {
        font-size: 13px;


    }

    .allpage .profile-side .contact ul li .contact-info a,
    .allpage .profile-side .contact ul li .contact-info p {
        font-size: 10px;
    }


}

.allpage .profile-side .social {
    /* display: none; */
    border-top: .5px solid var(--alt-bg-Color);
    padding-block: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.allpage .profile-side .social a i {
    font-size: 30px;
    margin-right: 20px;
    color: #888;


}

@media (max-width:768px) {
    .allpage .profile-side .social {
        margin-top: 20px;
    }
}

/* CONTENT side */

.allpage .content {
    background-color: var(--main-bg-Color);
    border: .5px solid var(--alt-bg-Color);
    /* flex: 1; */
    border-radius: 20px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.allpage .content .navBar {
    height: 60px;
    border: 1px solid var(--alt-bg-Color);
    position: absolute;
    background-color: var(--alt-bg-Color);
    padding: 15px 25px;
    top: 0;
    right: 0;
    border-bottom-left-radius: 16px;
    z-index: 777;
}

.allpage .content .navBar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.allpage .content .navBar ul li a {
    margin-right: 15px;
    color: #ccc;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.allpage .content .navBar ul li a:hover,
.allpage .content .menu ul li a:hover {
    color: #888;

}

.allpage .content .navBar ul li a.active,
.allpage .content .menu ul li a.active {
    color: var(--mainColor);
    font-size: 18px;

}

@media (max-width:469px) {
    .allpage .content .navBar {
        height: 60px;
        padding: 15px 25px;
    }

    .allpage .content .navBar ul li a {
        margin-right: 10px;
        font-size: 14px;
        padding: 3px;
    }

    .allpage .content .navBar ul li a.active,
    .allpage .content .menu ul li a.active {
        color: var(--mainColor);
        font-size: 16px;

    }

}

.allpage .content .menu ul {
    display: flex;
    align-items: center;
    padding: 10px;
}

.allpage .content .menu ul li a {
    font-size: 14px;
    margin-right: 25px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.allpage .content .show-content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px 20px;
}

@media (max-width:992px) {
    .allpage .content .show-content {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
    }

}

.allpage .content .show-content .box {
    border-radius: 10px;
    overflow: hidden;
    transition: var(--transition);
    border: 1px solid var(--alt-bg-Color);
    cursor: pointer;
    animation: show .2s ease-in forwards;
    transform: translateX(60px);
    opacity: 0;
}

@keyframes show {
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.allpage .content .show-content .box:nth-child(2) {
    animation-delay: .3s;
}

.allpage .content .show-content .box:nth-child(3) {
    animation-delay: .4s;
}

.allpage .content .show-content .box:nth-child(4) {
    animation-delay: .5s;
}

.allpage .content .show-content .box:nth-child(n + 5) {
    animation-delay: .6s;
}

.allpage .content .show-content .box:hover {
    border: 1px solid var(--mainColor);
    box-shadow: 0 4px 0 var(--mainColor);
}



.allpage .content .show-content .box .image img {
    transition: var(--transition);
}

.allpage .content .show-content .box:hover .image img {
    transform: scale(1.1);
}

.allpage .content .show-content .box .image {
    width: 100%;
    overflow: hidden;


}

.allpage .content .show-content .box .image img {
    width: 100%;
    object-fit: cover;
    transition: var(--transition);
}

.allpage .content .show-content .box .dis {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}

.allpage .content .show-content .box .dis .info h3 {
    font-size: 16px;
    font-weight: 600;

}

.allpage .content .show-content .box .dis .info h4 {
    font-size: 14px;
    font-weight: 300;
    color: #ccc;

}

.allpage .content .show-content .box .dis i {
    font-size: 20px;
    color: #CCC;
    transition: var(--transition);

}

.allpage .content .show-content .box .dis i:hover {
    color: #eee;
}


/*--------------------------about------------------ */

.about:nth-child(1) {
    animation-delay: 1s;
}


@media (max-width:670px) {
    .about {
        margin-top: 30px;
    }
}

.about>p {
    font-size: 16px;
    color: #ccc;
    line-height: 2;
    padding: 10px 15px;
    width: 75%;
}

@media (max-width:992px) {
    .about>p {
        width: 100%;
    }

}

.about>h3 {
    font-size: 22px;
    margin-block: 20px;

}

.about .doing {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.about .doing .do-box {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--alt-bg-Color);
    border-radius: 10px;

}

.about .doing .do-box i {
    font-size: 40px;
    color: var(--mainColor);
    margin-right: 20px;
}

.about .doing .do-box .info {
    width: max-content;
}

.about .doing .do-box .info h3 {
    font-size: 15px;
    width: fit-content;
}

.about .doing .do-box .info p {
    width: 270px;
    font-size: 12px;
    color: #ccc;
    line-height: 2;
}

.about .skills {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

.about .skills>span {
    background-color: var(--alt-bg-Color);
    color: #eee;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: fit-content;
}

.about .skills>span i {
    color: var(--mainColor);
    margin-right: 10px;
    font-size: 25px;
}

/*--------------------------resume------------------ */
.resume {
    position: relative;
    width: 100%;

}

.resume .download {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.resume .download .donwload-btn {
    background-color: var(--alt-bg-Color);
    width: fit-content;
    height: 40px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border-radius: 7px;
    transition: var(--transition);
    position: relative;

}

.resume .download .donwload-btn i {
    margin-left: 10px;

}

.resume .download .donwload-btn::after {
    position: absolute;
    content: '';
    width: 20%;
    height: 2px;
    background-color: var(--mainColor);
    bottom: 0;
    left: 3%;
    animation: movcheck 3s ease-in-out infinite;
    transition: var(--transition);
}

@keyframes movcheck {
    50% {
        left: 77%;
    }

    100% {
        left: 3%;
    }

}

.resume .download .donwload-btn:hover i,
.resume .download .donwload-btn:hover {
    color: var(--mainColor);
    transform: scale(1.1);
}

.resume .education {
    display: flex;
    /* padding: 20px; */
    position: relative;
    width: fit-content;

}

.resume .education .line {
    width: 70px;
    text-align: center;
    position: relative;
}

.resume .education .line::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--alt-bg-Color);
    left: 50%;
    top: 0;
    margin-left: -1px;
    z-index: -2;
}

.resume .education .line i {
    font-size: 23px;
    background-color: var(--alt-bg-Color);
    color: var(--mainColor);
    padding: 5px;
    border-radius: 6px;
}


.resume .education .edu-info .titel {
    margin-bottom: 20px;
}

.resume .education .edu-info .edu-box {
    background-color: #383838;
    border-radius: 5px;
    padding: 20px;
    margin-block: 20px;
    position: relative;
}

.resume .education .edu-info .edu-box::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--alt-bg-Color);
    border: 1px solid #EEE;
    top: 50%;
    transform: translateY(-50%);
    left: -42px;
}

.resume .education .edu-info .edu-box h3 {
    font-size: 17px;
    font-weight: 500;
    color: #EEE;
}

.resume .education .edu-info .edu-box p {
    color: #888;
    margin-bottom: 10px;
}

.resume .education .edu-info .edu-box h4 {
    color: var(--mainColor);
    font-size: 14px;
}

@media (max-width:768px) {

    .resume .education .edu-info .edu-box h3,
    .projects .project .project-box h3 {
        font-size: 15px;
    }

    .resume .education .edu-info .edu-box p,
    .projects .project .project-box p {
        font-size: 14px;
    }

    .resume .education .edu-info .edu-box h4 {
        font-size: 12px;
    }


}

.resume .education .edu-info .edu-box>img {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 2px solid #CCC;
}



/*--------------------------PROJECTS------------------ */
.projects {
    display: flex;
    margin-top: 20px;
    position: relative;
    width: fit-content;

}


.projects .line {
    width: 70px;
    text-align: center;
    position: relative;
}

.projects .line::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--alt-bg-Color);
    left: 50%;
    top: 0;
    margin-left: -1px;
    z-index: -2;
}

.projects .line i {
    font-size: 23px;
    background-color: var(--alt-bg-Color);
    color: var(--mainColor);
    padding: 5px;
    border-radius: 6px;
}

.projects .project .titel {
    margin-bottom: 20px;

}

.projects .project>hr {
    width: 60%;
}

.projects .project .project-box {
    margin-block: 20px;
    position: relative;
    padding: 15px;
    position: relative;
}

.projects .project .project-box:not(:last-child)::after {
    position: absolute;
    content: '';
    width: 80%;
    height: 1px;
    background-color: #333;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}

.projects .project .project-box::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--alt-bg-Color);
    border: 1px solid #EEE;
    top: 50%;
    transform: translateY(-50%);
    left: -42px;
}

.projects .project .project-box h3 {
    font-size: 15px;
    font-weight: 300;
    color: #EEE;
}

.projects .project .project-box p {
    color: #888;
    font-size: 13px;
}

.projects .project .project-box h4 {
    color: var(--mainColor);
    font-size: 14px;
}


/* --------------------------CONTACT-------------------------------- */
/* contact */
.contact-us .map {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-us .map iframe {
    filter: grayscale(60%);
    border-radius: 15px;
    width: 70%;
    height: 300px;


}

.contact-us form {
    margin-top: 50px;
    margin-inline: auto;
    width: 70%;


}

.contact-us form h3 {
    margin-bottom: 30px;
    font-size: 25px;
}

.contact-us form .info .personal-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

@media (max-width:768px) {
    .contact-us form {
        width: 100%;
    }

    .contact-us form .info .personal-info {
        flex-direction: column;
    }
}



.contact-us form .info textarea:focus,
.contact-us form .info .personal-info input:focus {
    border-color: var(--mainColor);
}

.contact-us form .info textarea {
    resize: none;
    width: 100%;
    height: 200px;
    margin-top: 30px;
    background-color: transparent;
    border: 2px solid var(--alt-bg-Color);
    outline: none;
    padding: 10px;
    border-radius: 5px;
    transition: var(--transition);


}

.contact-us form .submit {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contact-us form .submit input[type="submit"] {
    background-color: var(--btn);
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    transition: var(--transition);
}

.contact-us form input[type="submit"]:hover {
    background-color: var(--mainColor);
}

@media (max-width:670px) {

    .about,
    .contact-us,
    .resume,
    .portfolio {
        margin-top: 30px;
    }
}

@media (max-width:992px) {
    .contact-us .map iframe {
        filter: grayscale(60%);
        border-radius: 15px;
        width: 100%;
        height: 200px;


    }
}

.about,
.resume,
.portfolio,
.contact-us {
    transform: translateY(60px);
    opacity: 0;
    animation: scrool .3s linear forwards;
    transition: var(--transition);
}

@keyframes scrool {
    to {
        transform: translateY(0);
        opacity: 1;
    }

}

.holder {
    width: 100%;
    position: relative;
}

.holder input {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: none;
    outline: none;
    padding-inline: 15px;
    caret-color: var(--mainColor);
    background-color: transparent;
    color: white;
    border: 2px solid var(--alt-bg-Color);
    font-size: 14px;

}

.holder label {
    color: #888;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: .3s;
}

input:focus~label,
input:valid~label {
    color: #EEE;
    top: 0;
    background-color: var(--main-bg-Color);
    padding-inline: 5px;
    font-size: 14px;

}

@media (max-width:768px) {
    .holder input[type="email"] {
        margin-top: -30px;
    }
}

/* popUp  */

.deatails {
    position: fixed;
    background-color: #1e1e1f77;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;

}

.deatails.close {
    display: none;
}


.deatails .pop-ditails {
    overflow-y: scroll;
    padding-inline: 30px;
    position: relative;
    width: 70%;
    max-height: 95vh;
    background-color: var(--main-bg-Color);
    border: 1px solid var(--alt-bg-Color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    animation: popup .3s ease-out forwards;
    -webkit-animation: popup .3s ease-out forwards;
    transition: var(--transition);
    transform: translateY(80px);
    opacity: 0;
}

@media (max-width:992px) {
    .deatails .pop-ditails {
        width: 95%;
        max-height: 95vh;
    }
}

@keyframes popup {
    to {
        transform: translateY(0);

        opacity: 1;
    }

}

.deatails .pop-ditails::-webkit-scrollbar {
    display: none;
}

.deatails .pop-ditails .close-btn {
    background-color: var(--alt-bg-Color);
    position: sticky;
    top: 20px;
    float: right;
    padding: 7px 10px;
    font-size: 20px;
    color: #ccc;
    transition: var(--transition);
    border-radius: 10px;
}

.deatails .pop-ditails .close-btn:hover {
    background-color: var(--btn);
}

.deatails .pop-ditails .close-btn:hover i {
    color: #EEE;
    font-size: 25px;
}

.deatails .pop-ditails h1 {
    margin: 10px 0 25px 0;
    padding-bottom: 20px;
    position: relative;
    width: fit-content;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.deatails .pop-ditails h1::after {
    position: absolute;
    margin: 0;
    padding: 0;
    content: '';
    width: 40%;
    height: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: var(--mainColor);
    bottom: 0;
    left: 0;
}

.deatails .pop-ditails .img-holder {
    background-color: var(--alt-bg-Color);
    width: 90%;
    margin-inline: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
}

@media (max-width:992px) {
    .deatails .pop-ditails .img-holder {
        width: 100%;
        background-color: transparent;
        /* height: 400px; */
        margin-bottom: 0;
    }
}

.deatails .pop-ditails .img-holder .image {
    width: 100%;
    height: 300px;
    border-radius: 14px;
    overflow: hidden;
}

.deatails .pop-ditails .img-holder .image img {
    width: 100%;
    height: 100%;
}

.deatails .pop-ditails h3 {
    font-size: 22px;
}

.deatails .pop-ditails>span {
    font-size: 14px;
    color: var(--mainColor);
    margin-top: 20px;
}

.deatails .pop-ditails p {
    font-size: 16px;
    color: #ccc;
    line-height: 2;
    padding: 10px 15px;
}

.deatails .pop-ditails .tools {
    width: 60%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-block: 10px;
}

@media (max-width:670px) {
    .deatails .pop-ditails .tools {
        width: 100%;

    }
}

.deatails .pop-ditails .tools>span {
    background-color: var(--alt-bg-Color);
    color: #eee;
    padding: 5px 10px;
    border-radius: 10px;
    margin-inline: 10px;
    margin-block: 5px;
}